* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Encode Sans Semi Expanded", sans-serif;
    scroll-behavior: smooth;
}

/* Scroll up button */
#myBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    padding: 13px 16px;
    color: #fff;
    background: #2a41e8;
    border-radius: 4px;
    cursor: pointer;
    z-index: 20;
    opacity: 0;
    transition: 0.25s;
}

/* 
        ==========================================
                       Header Style
        ==========================================
*/

header {
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.12);
    display: flex;
    max-height: 82px;
    position: fixed;
    width: 100%;
    z-index: 10;
    background: #fff;
}

header .logo img {
    height: 42px;
}

header .logo {
    flex: 4;
    display: inline-block;
    padding: 17px;
    border-right: 1px solid #e0e0e0;
}

header nav {
    flex: 30;
    margin: auto;
}

header nav ul {
    list-style: none;
    display: flex;
    font-size: 16px;
    margin-left: 25px;
}

header nav ul .nav-head,
header .hamburger-menu,
header nav ul .nav-link .dropdown-menu .dropdown-head {
    display: none;
}

header nav ul .nav-link {
    position: relative;
}

header nav ul .nav-link a {
    text-decoration: none;
    color: #666;
    transition: 0.2s;
}

header nav ul .nav-link:first-child a {
    color: #2a41e8;
}
header nav ul .nav-link i {
    color: #a8a8a8;
    background: #f0f0f0;
    margin: 0 17px 0 4px;
    padding: 3px 5px;
    font-size: 10px;
    border-radius: 4px;
    position: relative;
    top: -1px;
    cursor: pointer;
    transition: 0.2s;
}
header nav ul .nav-link:first-child i,
header nav ul .nav-link:hover i {
    background: rgba(42, 65, 232, 0.13);
    color: #2a41e8;
}
header nav ul .nav-link:hover a {
    color: #2a41e8;
}

header nav ul .nav-link .dropdown-menu {
    position: absolute;
    padding: 20px;
    background: #303030;
    color: #fff;
    top: 60px;
    left: 20px;
    display: block;
    width: 200px;
    border-radius: 4px;
    transition: 0.25s;
    opacity: 0;
    visibility: hidden;
}

header nav ul .nav-link:hover .dropdown-menu {
    top: 30px;
    opacity: 1;
    visibility: visible;
}

header nav ul .nav-link .dropdown-menu .dropdown-link {
    color: #999;
    transition: 0.2s;
    cursor: pointer;
}
header nav ul .nav-link .dropdown-menu .dropdown-link:hover {
    color: #f0f0f0;
}

header nav ul .nav-link .dropdown-menu .dropdown-link:not(:last-child) {
    margin-bottom: 10px;
}

header .icons {
    border-left: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}

header .icons i {
    cursor: pointer;
    position: relative;
    font-size: 20px;
    margin: 0 15px;
}

header .icons i span {
    background: #2a41e8;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    display: inline-block;
    font-weight: 700;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    bottom: 12px;
    right: -12px;
}

header .profile {
    border-left: 1px solid #e0e0e0;
    padding: 20px 30px 0px 30px;
    position: relative;
}

header .profile img {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    cursor: pointer;
}

header .profile .online {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #38b653;
    border: 2px solid white;
    position: absolute;
    top: 50px;
    right: 30px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1099px) {
    header {
        position: relative;
    }
    header .logo {
        border: none;
    }
    header nav {
        position: fixed;
        left: -40%;
        height: 100vh;
        width: 40%;
        transition: 0.5s;
        overflow: hidden;
    }
    header nav ul {
        display: block;
        margin-left: 0;
        background: #2a2a2a;
        height: 100%;
    }
    header nav ul .nav-head,
    header nav ul .nav-link .dropdown-menu .dropdown-head {
        display: block;
        color: #fff;
        font-size: 15px;
        text-align: center;
    }
    header nav ul .nav-link .link-wrap,
    header nav ul .nav-head,
    header nav ul .nav-link .dropdown-menu .dropdown-head {
        padding: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    header nav ul .nav-link .dropdown-menu .dropdown-head {
        padding: 16px;
    }
    header nav ul .nav-link .dropdown-menu .dropdown-head::before {
        content: "\f104";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        left: 20px;
        top: 18px;
        color: #fff;
    }
    header nav ul .nav-link::after {
        content: "\f105";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        right: 20px;
        top: 18px;
        color: #fff;
    }
    header nav ul .nav-link a,
    header nav ul .nav-link a:first-child {
        color: #fff;
        font-size: 13px;
    }
    header nav ul .nav-link i {
        display: none;
    }
    header nav ul .nav-link .dropdown-menu {
        left: 440px;
        height: 100vh;
        width: 100%;
        background: #2a2a2a;
        padding: 0;
        opacity: 1;
        visibility: visible;
        border-radius: 0;
        overflow: scroll;
        z-index: 2;
        transition: .3s;
    }
    header nav ul .nav-link .dropdown-menu .dropdown-link {
        border-bottom: 1px solid rgba(255,255,255,0.1);
        padding: 17px;
        font-size: 13px;
        color: #fff;
    }
    header nav ul.nav-li li:nth-child(2) .dropdown-menu {
        top: -51px
    }
    header nav ul.nav-li li:nth-child(3) .dropdown-menu {
        top: -102px;
    }
    header nav ul.nav-li li:nth-child(4) .dropdown-menu {
        top: -153px
    }
    header nav ul.nav-li li:nth-child(5) .dropdown-menu {
        top: -204px
    }
    header nav ul.nav-li li:nth-child(6) .dropdown-menu {
        top: -255px
    }
    header nav ul .nav-link .dropdown-menu .dropdown-link:not(:last-child) {
        margin-bottom: 0;
    }
    header .hamburger-menu {
        display: block;
        border-left: 1px solid #e0e0e0;
        padding: 20px;
    }
    header .hamburger-menu .hamburger-layout {
        padding: 10px;
        background: #eee;
        border-radius: 4px;
    }
    header .hamburger-menu .line {
        height: 4px;
        width: 25px;
        background: #555;
        border-radius: 4px;
    }
    header .hamburger-menu .line:not(:last-child) {
        margin-bottom: 4px;
    }
}
@media (max-width: 576px) {
    header .icons {
        display: none;
    }
}

/* 
        ==========================================
                        Home Style
        ==========================================
*/

.home {
    height: 700px;
    background-image: url(../Images/home-background.jpg);
    background-size: cover;
    position: relative;
    padding-top: 82px;
}

.home .overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to right,
        rgba(250, 250, 250, 1) 20%,
        rgba(250, 250, 250, 0.95) 50%,
        rgba(250, 250, 250, 0.1) 80%,
        rgba(250, 250, 250, 0) 100%
    );
}

.home .container {
    width: 80%;
    margin: auto;
    position: relative;
    z-index: 2;
    top: 100px;
}

.home .container .home-content {
    line-height: 40px;
}

.home .container .home-content h2 {
    font-size: 25px;
    color: #333;
}

.home .container .home-content p {
    font-size: 25px;
    color: #777;
}

.home .container .search {
    display: flex;
    margin-top: 50px;
}

.home .container .search .right,
.home .container .search .left {
    flex: 1;
}

.home .container .search span {
    background: #2a41e8;
    color: #fff;
    padding: 5px 8px;
    border-radius: 4px;
}

.home .container .search .right div {
    position: relative;
}

.home .container .search .right div i {
    position: absolute;
    top: 40px;
    left: 18px;
    color: #777;
}

.home .container .search .right div input {
    border-right: 1px solid #e4e4e4;
}

.home .container .search input::placeholder {
    font-size: 16px;
}

.home .container .search input {
    width: 100%;
    padding: 25px 40px;
    border: none;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.09);
    border-radius: 4px;
    margin-top: 15px;
    outline: none;
}

.home .container .search .left div {
    position: relative;
}

.home .container .search .left div .search-btn {
    position: absolute;
    right: 12px;
    top: 24px;
    padding: 15px 30px;
    cursor: pointer;
}

@media (max-width: 992px) {
    .home {
        padding: 0;
    }
    .home .container .home-content {
        line-height: 35px;
    }
    .home .container .home-content h2, 
    .home .container .home-content p {
        font-size: 20px;
    }
    .home .container .search {
        display: block;
    }
    .home .container .search span {
        font-size: 14px;
    }
    .home .container .search .right {
        margin-bottom: 40px;
    }
    .home .container .search input {
        padding: 20px 40px;
    }
    .home .container .search .right div i {
        top: 35px;
    }
    .home .container .search .left div .search-btn {
        position: static;
        margin-top: 20px;
        display: inline-block;
    }
}

/* 
        ==========================================
                    Categories Style
        ==========================================
*/

.categories h3 {
    text-align: center;
    margin-top: 60px;
    font-size: 26px;
    font-weight: 500;
}

.categories .categories-cont {
    margin: 25px auto 50px;
    display: flex;
    width: 80%;
    text-align: center;
    flex-wrap: wrap;
}

.categories a {
    padding: 20px;
    flex: 0 0 25%;
    text-decoration: none;
    border-radius: 6px;
    color: #333;
    transition: 0.5s;
}

.categories a:hover {
    background: blue;
    color: #fff;
}

.categories-cont a i {
    color: blue;
    padding: 10px;
    transition: 0.5s;
}

.categories a:hover i {
    color: #fff;
}

.categories-cont a i + div {
    color: #909090;
    background: rgba(0, 0, 0, 0.06);
    width: 45px;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 6px;
}

.categories-cont a i + div + div p {
    padding: 10px;
    color: #909090;
}

@media (max-width: 1099px) {
    .categories a {
        flex: 0 0 33%;
    }
}
@media (max-width: 768px) {
    .categories a {
        flex: 0 0 50%;
    }
}
@media (max-width: 576px) {
    .categories a {
        flex: 0 0 100%;
    }
}
/* 
        ==========================================
                        Jobs Style
        ==========================================
*/

.jobs {
    background: #f9f9f9;
    padding-bottom: 70px;
}

.jobs .container {
    width: 80%;
    margin: auto;
}

.jobs .container .heading {
    overflow: hidden;
    padding: 70px 0 40px 0;
}

.jobs .container .heading h2 {
    float: left;
    font-weight: normal;
    color: #333;
}

.jobs .container .heading a {
    float: right;
    text-decoration: none;
    margin-top: 7px;
    color: #2a41e8;
    transition: 0.3s;
    font-size: 15px;
}

.jobs .container .heading a i {
    margin: 0px 10px;
    font-size: 18px;
    position: relative;
    top: 3px;
}

.jobs .container .heading a:hover {
    color: #333;
}

.jobs .jobs-menu {
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background: #fff;
}

.jobs .jobs-menu .job {
    text-decoration: none;
    width: 100%;
    display: block;
    overflow: hidden;
    border-left: 3px solid #fff;
    transition: 0.3s;
}
.jobs .jobs-menu .job.gray {
    background: #f9f9f9;
    border-left: 3px solid #f9f9f9;
}
.jobs .jobs-menu .job:hover {
    border-left: 3px solid #2a41e8;
}
.jobs .jobs-menu .job:first-child {
    border-radius: 3px 3px 0 0;
}
.jobs .jobs-menu .job:last-child {
    border-radius: 0 0 3px 3px;
}

.jobs .jobs-menu .job .img {
    float: left;
    padding: 35px 30px;
}

.jobs .jobs-menu .job .img img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

.jobs .jobs-menu .job .job-desc {
    float: left;
    margin-top: 35px;
}

.jobs .jobs-menu .job h3 {
    color: #000;
    margin-bottom: 10px;
}

.jobs .jobs-menu .job ul {
    color: #777;
}

.jobs .jobs-menu .job ul li {
    display: inline-block;
    margin-right: 14px;
}

.jobs .jobs-menu .job ul li i {
    margin-right: 2px;
}

.jobs .jobs-menu .job ul li i.verified {
    color: #fff;
    width: 15px;
    height: 15px;
    background: #38b653;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    font-size: 10px;
}

.jobs .jobs-menu .job .apply {
    float: right;
    padding: 10px 20px;
    background: #f0f0f0;
    color: #666;
    border-radius: 4px;
    margin: 42px 30px;
    transition: 0.3s;
}
.jobs .jobs-menu .job:hover .apply {
    background: #2a41e8;
    color: #fff;
}

@media (max-width: 1099px) {
    .jobs .container {
        width: 90%;
    }
}
@media (max-width: 900px) {
    .jobs .jobs-menu .job ul li:last-child {
        display: block;
        margin: 10px 0;
    }
    .jobs .jobs-menu .job .apply {
        margin: 44px 30px;
    }
}
@media (max-width: 768px) {
    .jobs .jobs-menu .job .img {
        padding: 35px 30px 0;
    }
    .jobs .jobs-menu .job h3 {
        font-size: 16px;
    }
    .jobs .jobs-menu .job ul li {
        font-size: 14px;
    }
    .jobs .jobs-menu .job .apply {
        margin: 20px 108px;
        float: left;
    }
}
@media (max-width: 576px) {
    .jobs .jobs-menu .job ul li {
        display: block;
        margin: 10px 0;
    }
}

/* 
        ==========================================
                       Cities Style
        ==========================================
*/

.cities {
    padding-bottom: 70px;
}

.cities .cities-title {
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    margin: 70px 0 50px;
    color: #333;
}

.cities .container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.cities .container .city {
    flex: 0 0 23%;
    margin: 0 auto;
    height: 360px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: relative;
    bottom: 0;
    cursor: pointer;
    transition: 0.5s;
}

.cities .container .city:hover {
    bottom: 10px;
}

.cities .container .city1 {background-image: url(../Images/featured-city-01.webp)}
.cities .container .city2 {background-image: url(../Images/featured-city-02.webp)}
.cities .container .city3 {background-image: url(../Images/featured-city-03.webp)}
.cities .container .city4 {background-image: url(../Images/featured-city-04.jpg)}

.cities .container .city .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(3, 3, 3, 0.5);
    border-radius: 4px;
    transition: 0.5s;
}

.cities .container .city:hover .overlay {
    background: rgba(1, 35, 228, 0.9);
}

.cities .container .city .city-content {
    position: absolute;
    bottom: 35px;
    left: 30px;
    z-index: 1;
}

.cities .container .city .city-content h2 {
    color: #fff;
    font-size: 19px;
    font-weight: normal;
    margin-bottom: 12px;
}

.cities .container .city .city-content span {
    padding: 5px 11px;
    background: #fff;
    border-radius: 4px;
    font-size: 15px;
}

@media (max-width: 1099px) {
    .cities .container {
        width: 90%;
    }
}
@media (max-width: 992px) {
    .cities .container .city {
        flex: 0 0 40%;
        margin: 0 auto;
    }
    .cities .container .city1,
    .cities .container .city2 {
        margin-bottom: 30px
    }
}
@media (max-width: 576px) {
    .cities .container .city {
        flex: 0 0 60%;
    }
    .cities .container .city3 {
        margin-bottom: 30px
    }
}

/* 
        ==========================================
                    Freelancers Style
        ==========================================
*/

.freelancers {
    background: #f9f9f9;
    padding-bottom: 70px;
    position: relative;
}

/* Heading */
.freelancers .heading {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 70px 0 40px 0;
}

.freelancers .heading h2 {
    float: left;
    font-weight: normal;
    margin-left: 12px;
    color: #333;
}

.freelancers .heading a {
    float: right;
    text-decoration: none;
    margin: 7px 15px 0 0;
    color: blue;
    transition: 0.5s;
    font-size: 15px;
}

.freelancers .heading a i {
    margin: 0px 10px;
    font-size: 18px;
    position: relative;
    top: 3px;
}

.freelancers .heading a:hover {
    color: #333;
}

/* content */
.freelancers .container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

/* left & right arrows*/
.freelancers .left,
.freelancers .right {
    position: absolute;
    top: 50%;
    display: block;
    width: 50px;
    height: 50px;
    background: #333;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
}
.freelancers .left {
    left: 20px;
}
.freelancers .right {
    right: 20px;
}
.freelancers .left:hover,
.freelancers .right:hover {
    background: #2a41e8;
}

/* profiles */
.freelancers .container .freelancers-profiles {
    display: flex;
    width: 120%;
}

.freelancers .container .freelancers-profiles .profile {
    flex: 0 0 26%;
    background: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin: 5px 12px;
    transition: .5s;
}

/* profile part1 */
.freelancers .container .freelancers-profiles .profile .profile-part1 {
    position: relative;
    text-align: center;
    padding: 40px 0;
}

.freelancers .container .freelancers-profiles .profile .profile-part1 .star {
    position: absolute;
    top: 35px;
    right: 30px;
    color: silver;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #eee;
    line-height: 40px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

.freelancers .container .freelancers-profiles .profile .profile-part1 .star:hover {
    color: #fff;
    background: #333;
}

.freelancers .container .freelancers-profiles .profile .profile-part1 .profile-pic {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-bottom: 20px;
    cursor: pointer;
}

.freelancers .container .freelancers-profiles .profile .profile-part1 .check {
    color: #fff;
    display: block;
    width: 25px;
    height: 25px;
    background: #38b653;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    font-size: 17px;
    position: absolute;
    top: 43%;
    right: 34%;
}

.freelancers .container .freelancers-profiles .profile .profile-part1 .profile-name {
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
}

.freelancers .container .freelancers-profiles .profile .profile-part1 .profile-name .profile-country {
    width: 20px;
    height: 15px;
    border-radius: 3px;
    margin-left: 5px;
}

.freelancers .container .freelancers-profiles .profile .profile-part1 .profile-job {
    display: block;
    color: #888;
    padding: 5px 0 10px;
}

.freelancers .container .freelancers-profiles .profile .profile-part1 .rating {
    padding: 2px 8px;
    background-color: #febe42;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 8px;
}

.freelancers .container .freelancers-profiles .profile .profile-part1 .rating-star {
    color: #febe42;
    font-size: 18px;
}

/* profile part2 */
.freelancers .container .freelancers-profiles .profile .profile-part2 {
    background: #f9f9f9;
    padding: 30px 0;
    border-radius: 0 0 4px 4px;
}

.freelancers .container .freelancers-profiles .profile .profile-part2 .part2-cont {
    display: flex;
    padding-bottom: 20px;
    line-height: 25px;
}

.freelancers .container .freelancers-profiles .profile .profile-part2 .part2-cont .location {
    flex: 1;
    margin-left: 30px;
}

.freelancers .container .freelancers-profiles .profile .profile-part2 .part2-cont .rate {
    flex: 1;
}

.freelancers .container .freelancers-profiles .profile .profile-part2 .part2-cont .job-success {
    flex: 1;
    margin-right: 20px;
}

.freelancers .container .freelancers-profiles .profile .profile-part2 .part2-cont .head {
    color: #888;
    font-size: 14px;
}

.freelancers .container .freelancers-profiles .profile .profile-part2 .part2-cont .desc {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.freelancers .container .freelancers-profiles .profile .profile-part2 a {
    color: #fff;
    padding: 10px 0;
    background: #2a41e8;
    text-decoration: none;
    border-radius: 4px;
    width: 100%;
    display: block;
    margin: auto;
    width: 80%;
    text-align: center;
    position: relative;
    transition: 0.5s;
}

.freelancers .container .freelancers-profiles .profile .profile-part2 a span {
    margin-left: 25px;
    transition: 0.3s;
}
.freelancers .container .freelancers-profiles .profile .profile-part2 a:hover span {
    margin-left: 0;
}

.freelancers .container .freelancers-profiles .profile .profile-part2 a i {
    position: relative;
    top: 3px;
    right: 20px;
    font-size: 20px;
    opacity: 0;
    transition: 0.3s;
}
.freelancers .container .freelancers-profiles .profile .profile-part2 a:hover i {
    right: -5px;
    opacity: 1;
}

@media (max-width: 1200px) {
    .freelancers .container .freelancers-profiles .profile {
        margin: 5px 10px;
    }
}
@media (max-width: 1000px) {
    .freelancers .left,
    .freelancers .right {
        display: none;
    }
    .freelancers .container .freelancers-profiles {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    .freelancers .container .freelancers-profiles .profile {
        flex: 0 0 46%;
        margin: 10px auto;
    }
}
@media (max-width: 768px) {
    .freelancers .container .freelancers-profiles .profile {
        flex: 0 0 70%;
        margin: 10px auto;
    }
}

/* 
        ==========================================
                    Freelancers Style
        ==========================================
*/

.membership {
    padding: 70px 0;
}

/* heading */
.membership .membership-title {
    text-align: center;
    font-weight: normal;
    padding-bottom: 50px;
}

.membership .billed {
    text-align: center;
    margin-bottom: 80px;
}

.membership .billed .monthly,
.membership .billed .yearly {
    color: #666;
    margin: 0 0 30px 15px;
}

.membership .billed .monthly input,
.membership .billed .yearly input {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.membership .billed .disc {
    background: #e0f5d7;
    color: #449626;
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 14px;
}

.membership .container {
    width: 80%;
    margin: auto;
    display: flex;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.membership .container .plan {
    flex: 1;
    padding: 35px;
    border-radius: 4px;
}

.membership .recommended {
    position: absolute;
    text-align: center;
    color: #fff;
    background: #2a41e8;
    width: 100%;
    padding: 13px 0;
    left: 0;
    top: -44px;
    border-radius: 4px 4px 0 0;
    font-size: 14px;
    font-weight: bold;
}

.membership .container .plan .plan-title {
    font-size: 20px;
    margin-bottom: 15px;
}

.membership .container .plan .plan-desc {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    line-height: 25px;
}

.membership .container .plan .price {
    background: #f6f6f6;
    color: #888;
    text-align: center;
    padding: 10px 0;
    border-radius: 4px;
    margin-bottom: 20px;
}

.membership .container .plan .price span {
    font-size: 30px;
    color: #000;
    font-weight: bold;
}

.membership .container .plan .features {
    list-style: none;
    line-height: 28px;
    color: #666;
    font-size: 15px;
}

.membership .container .plan .features .features-title {
    color: #000;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
}

.membership .container .plan .buy {
    display: block;
    border: 1px solid #2a41e8;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    color: #2a41e8;
    margin-top: 20px;
    transition: 0.5s;
}

.membership .container .plan .buy:hover {
    color: #fff;
    background: #2a41e8;
}

.membership .container .plan.standard {
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.09);
    position: relative
}

.membership .container .plan.standard .price,
.membership .container .plan.standard .price span {
    color: #2a41e8;
}

.membership .container .plan.standard .buy {
    color: #fff;
    background: #2a41e8;
}

@media (max-width: 1099px) {
    .membership .container {
        width: 90%;
    }
}
@media (max-width: 992px) {
    .membership .billed {
        margin-bottom: 40px;
    }
    .membership .container {
        display: block;
        box-shadow: none;
    }
    .membership .container .plan {
        width: 50%;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
        margin: 0 auto;
    }
    .membership .container .plan.standard {
        margin: 70px auto 30px;
    }
}
@media (max-width: 576px) {
    .membership .container .plan {
        width: 70%;
    }
}

/* 
        ==========================================
                        Footer Style
        ==========================================
*/

footer {
    background: #303030;
}

footer .footer-head {
    width: 80%;
    display: flex;
    margin: auto;
}

footer .footer-head .logo {
    flex: 0 0 60%;
    padding: 25px 0;
    border-right: 1px solid #484848;
}

footer .footer-head .logo img {
    display: block;
    width: 120px;
    height: 46px;
}

footer .footer-head .social-media {
    flex: 0 0 25%;
    text-align: center;
    line-height: 96px;
    border-right: 1px solid #484848;
}

footer .footer-head .social-media i {
    color: silver;
    font-size: 22px;
    margin: 0 8px;
    cursor: pointer;
    transition: 0.5s;
}

footer .footer-head .social-media i:hover {
    color: #fff;
}

footer .footer-head .lang {
    flex: 0 0 15%;
    position: relative;
}

footer .footer-head .lang select {
    background: #444;
    color: #fff;
    width: 110px;
    height: 44px;
    border: none;
    border-radius: 4px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    outline: none;
}

footer .footer-head .lang select option {
    text-align: center;
}

footer .border {
    border-bottom: 1px solid #484848;
}

/* Links */
footer .links-cont {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
    color: #fff;
}

footer .links-cont .links {
    flex: 1;
    list-style: none;
    line-height: 33px;
}

footer .links-cont .links .links-categ {
    flex: 1;
    margin-bottom: 10px;
    font-size: 18px;
    color: #fff;
    cursor: auto;
}

footer .links-cont .links li span {
    color: silver;
    cursor: pointer;
    display: inline-block;
}

footer .links-cont .links li span::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #2a41e8;
    position: relative;
    top: -4px;
    transition: 0.3s;
}

footer .links-cont .links li span:hover::after {
    width: 100%;
}

footer .links-cont .sign-up {
    flex: 2;
}

footer .links-cont .sign-up span {
    display: block;
    padding: 8px 0;
}

footer .links-cont .sign-up span i {
    margin-right: 5px;
}

footer .links-cont .sign-up p {
    margin: 12px 0;
    line-height: 27px;
    color: silver;
}

footer .links-cont .sign-up input {
    background: #262626;
    width: 80%;
    border: none;
    padding: 15px;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 16px;
    outline: none;
    color: #777;
}

footer .links-cont .sign-up .submit {
    background: #2a41e8;
    display: inline;
    padding: 17px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}

footer .links-cont .sign-up .submit:hover {
    background: #fff;
    color: #333;
}

footer .copy {
    text-align: center;
    padding: 25px;
    color: silver;
    font-size: 16px;
}

footer .copy .hireo {
    color: #fff;
}

@media (max-width: 992px) {
    footer .footer-head .logo,
    footer .footer-head .social-media {
    flex: 2;
    }
    footer .footer-head .lang {
        flex: 1;
    }
    footer .links-cont .sign-up {
        flex: 0 0 100%;
        margin-top: 30px;
    }
    footer .links-cont .sign-up p {
        font-size: 14px
    }
    footer .links-cont .sign-up p br {
        display: none;
    }
    footer .links-cont .links {
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    footer .footer-head {
        display: block;
    }
    footer .footer-head .logo,
    footer .footer-head .social-media,
    footer .footer-head .lang {
        border: none;
    }
    footer .footer-head .logo {
        padding: 20px 0;
    }
    footer .footer-head .social-media {
        text-align: left;
        line-height: normal;
    }
    footer .footer-head .lang select {
        position: static;
        transform: none;
        width: 100%;
        margin: 20px 0;
    }
    footer .links-cont {
        display: block;
    }
    footer .links-cont .links:not(:first-child) {
        margin-top: 30px
    }
}
@media (max-width: 576px) {
    
}
